<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<!-- bootstrap css -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<!-- google font -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet" />
	<!-- bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<!-- custom css -->
	<link rel="stylesheet" href="/css/style.css">
	<!--jquery script using spring boot-->
	<!--	<script src="/webjars/jquery/3.6.4/jqery.min.js"></script>-->
</head>

<body>
	<header id="header" class="header">
		<nav class="navbar navbar-expand-lg gradient-header fixed-top">
			<div class="container d-flex align-items-center justify-content-between">
				<a class="navbar-brand d-flex align-items-center justify-content-between" href="#">
					<img src="/images/logo.png" alt="Logo" class="d-inline-block align-text-top">
					<span class="mb-0">Vignan Institute of Technology</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class=" navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="add-enquiry">Add Enquiry</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="view-enquiry">View Enquiries</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="logout">Logout<i class="bi bi-box-arrow-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<section class="enquiries-page h-100" style="background-color: #fcfcfc;">
		<div class="container py-4 h-100">
			<div class="row">
				<h4 class="ps-0">Enquiries</h4>
			</div>
			<div class="row">
				<div class="card border-0 px-0">
					<table class="table table-striped table-bordered">
						<thead>
							<tr class="table-header-custom">
								<th>Student Id</th>
								<th>Name</th>
								<th>Email Id</th>
								<th>Phone Number</th>
								<th class="filter-container">
									<span>Class Mode</span>
									<i class="bi bi-funnel filter-symbol" data-column="classMode"></i>
									<div class="filter-options" data-column="classMode">
										<a href="#" data-option="No Filter">No Filter</a>
										<a href="#" data-option="online">Online</a>
										<a href="#" data-option="classroom">Class Room</a>
									</div>
								</th>
								<th class="filter-container">
									<span>Course Name</span>
									<i class="bi bi-funnel filter-symbol" data-column="courseName"></i>
									<div class="filter-options" data-column="courseName">
										<a href="#" data-option="No Filter">No Filter</a>
										<a href="#" data-option="java">Java</a>
										<a href="#" data-option="python">Python</a>
										<a href="#" data-option="DevOps">DevOps</a>
									</div>
								</th>
								<th class="filter-container">
									<span class="me-1">Staus</span>
									<i class="bi bi-funnel filter-symbol" data-column="enquiryStatus"></i>
									<div class="filter-options" data-column="enquiryStatus">
										<a href="#" data-option="No Filter">No Filter</a>
										<a href="#" data-option="new">New</a>
										<a href="#" data-option="enrolled">Enrolled</a>
										<a href="#" data-option="lost">Lost</a>
									</div>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="enqBody">
							<tr th:each="enquiry: ${enquiries}">
								<td th:text="${enquiry.studentId}" />
								<td th:text="${enquiry.studentName}" />
								<td th:text="${enquiry.studentEmail}" />
								<td th:text="${enquiry.studentPhno}" />
								<td th:text="${enquiry.classMode}" />
								<td th:text="${enquiry.courseName}" />
								<td th:text="${enquiry.enquiryStatus}" />
								<td>
									<a href="#" class="btn-action-edit">Edit</a>
									<a href="#" class="btn-action-delete">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
	<script>
		(() => {
			'use strict'
			const forms = document.querySelectorAll('.needs-validation')
			Array.from(forms).forEach(form => {
				form.addEventListener('submit', event => {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
		})()  
	</script>

	<script>
		$(document).ready(function () {
			const selectedOptions = {};
			$('.filter-symbol').click(function (e) {
				e.stopPropagation();
				const columnId = $(this).data('column');
				const filterOptions = $(this).siblings('.filter-options[data-column="' + columnId + '"]');
				const filterSymbolOffset = $(this).position();
				filterOptions.css({
					top: filterSymbolOffset.top + $(this).outerHeight(),
					right: 0
				});
				$('.filter-options').not(filterOptions).hide(); // Close other filter options
				filterOptions.toggle();
			});

			$('.filter-options a').click(function (event) {
				event.preventDefault();
				const selectedOption = $(this).data('option');
				const columnId = $(this).closest('.filter-options').data('column');
				if (selectedOption === 'No Filter') {
					delete selectedOptions[columnId];
				} else {
					selectedOptions[columnId] = selectedOption;
				}
				performAjaxCall(selectedOptions);
				$('.filter-options').hide();
			});

			$(document).click(function () {
				$('.filter-options').hide();
			});

			function performAjaxCall(selectedOptions) {
				$.ajax({
					url: '/view-enquirys',
					method: 'GET',
					contentType: 'application/json',
					data: selectedOptions,
					success: function (response) {
						updateTable(response);
					},
					error: function (error) {
						console.error('AJAX call error:', error);
					}
				});
			}
			function updateTable(enquiries) {
				const tableBody = $("#enqBody");
				tableBody.empty(); // Clear existing rows

				$.each(enquiries, function (index, enquiry) {
					const row = $("<tr>")
						.append($("<td>").text(enquiry.studentId))
						.append($("<td>").text(enquiry.studentName))
						.append($("<td>").text(enquiry.studentEmail))
						.append($("<td>").text(enquiry.studentPhno))
						.append($("<td>").text(enquiry.classMode))
						.append($("<td>").text(enquiry.courseName))
						.append($("<td>").text(enquiry.enquiryStatus))
						.append($("<td>").html('<a href="#" class="btn-action-edit">Edit</a> <a href="#" class="btn-action-delete">Delete</a>'));

					tableBody.append(row);
				});
			}
		});
	</script>
</body>

</html>